<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgt.mapping.myUserMapper">

	<resultMap type="com.zgt.domain.MyUser" id="userMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="phone" column="phone" />
		<result property="email" column="email" />
		<result property="uid" column="uid" />
		<result property="pwd" column="pwd" />
	</resultMap>



	<select id="getUser" parameterType="int" resultType="com.zgt.domain.MyUser">
		select * from my_user where id=#{id}
	</select>

	<insert id="insertMyUser" parameterType="com.zgt.domain.MyUser">
		insert into my_user
		(name,phone,email,uid,pwd) values (#{name},#{phone},#{email},#{uid},Md5(#{pwd}))
	</insert>


	<!-- 对应userDao中的updateUser方法 -->
	<update id="updateUser" parameterType="com.zgt.domain.MyUser">
		update my_user set name =
		#{name}, 
		phone = #{phone} , 
		email = #{email} , 
		uid = #{uid} , 
		pwd = Md5(#{pwd})
		where id = #{id};
	</update>

	<!-- 对应userDao中的deleteUser 方法 -->
	<delete id="deleteUser" parameterType="com.zgt.domain.MyUser">
		delete from my_user where id
		= #{id};
	</delete>


	


	<select id="findByName" parameterType="String" resultMap="userMap">
		select
		id,name,phone,email,uid,pwd  from
		my_user where name =#{name};
		
	</select>
	
	
	<select id="login" parameterType="java.util.Map"  resultType="com.zgt.domain.MyUser">
		select
		id,name,phone,email,uid,pwd from
		my_user where name = #{name} and pwd = Md5(#{pwd});
		
	</select>
	
	
	



</mapper>