.divCenter {
	width:100%;
	height:100%;
	margin: 0px auto;
	text-align: center
}

body {
	font-family:Microsoft YaHei;
	margin: 0px;
}

.magin_lr{
	margin:0 25px;	
}

.m_input{
	width: 100%;
	height:30px;
	margin-top: 20px;	
}
.single_button{
	width: 100%;
	height:35px;
	font-size: 15px;
	margin: 20px 0 10px 0;
	padding: 1px 0 1px 0;
}

.account_button{
	width: 70%;
	height:24px;
	font-size: 17px;
	margin: 10px auto 10px auto;
	background-color: #d5d5d5;
	padding: 1px 0 1px 0;
}

.top_tip{
	float: left;
	margin: 10px 0 0 0;
	font-size: 19px;
}

.regist_a{
	float: left;
}

.findby_email_a{
	float: left;
}

.findby_num_a{
	float: right;
}

.foget_pwd_a{
	float: right;
}
.text_a{
	font-size: 15px;
}
.account_select_l{
	float: left;
	margin-left: 10px;
}

.account_select_r{
	float: right;
	margin-right: 10px;
}